$primary_color: #787CA9;
$secondary_color: white;
$third_color: #1D2C64;
$additional: #30D1FF;
$minor: #E0EAF8;
$grey: #C4C4C4;

%expand{
    background-color: $secondary_color;
    border: 1px solid $third_color;
    position: absolute;
    right: 6px;
    top: 30px;
    width: 200px;
    line-height: 20px;
    font-size: 12px;
    .iconify{
        font-size: 16px;
        position: relative;
        left: -12px;
        top: 3px;
    }
    ul{
        margin-top: 15px;
        li:hover{
            opacity: 0.8;
            transition: 0.5s;
        }
    }
}

.hide{
    display: none;
}

section{
    width: 100%;
    margin-top: 140px;
    width: 41vw;
    margin-left: 30vw;

    .container{
        display: flex;
        flex-direction: column;
    }

    .head{
        h2{
            font-size: 38px;
            margin-right: 40px;
        }
        .search-info, .filter-info, .sort-info{
            button{
                background: none;
                border: none;
                outline: none;
                color: $third_color;
                font-size: 16px;
            }
            button:hover{
                color: $primary_color;
                transition: 0.2s;
            }
        }
        .sort-expand{
            @extend %expand;
        }

        .search-info{
            width: 213px;
            height: 27px;
            margin-right: -20px;
            input{
                font-size: 12px;
                border: none;
                border-bottom: 1px solid $third_color;
            }
        }

        .info-menu{
            display: flex;
            position: relative;
            left: 30px;
            top: 20px;
        }
        hr{
            width: 42.8vw;
            margin-top: 5px;
            margin-left: -35px;
            height: 1px;
            background: $third_color;
        }
        .register-new{
            width: 170px;
            height: 25px;
            font-size: 12px;
            color: $third_color;
            border-radius: 5px;
            background: none;
            outline: none;
            border: 1px solid $third_color;
            margin-bottom: 50px;
            cursor: pointer;
        }
        .register-new:hover{
            background-color: $minor;
        }
        .posting{
            justify-content: center;
            text-align: center;
            .input{
                width: 39.338731443994604vw;
                height: 102px;
                border-radius: 5px;
                margin-top: -70px;
                background: $third_color;
                textarea{
                    width: 39.103778677462886vw;
                    height: 99.2px;
                    outline: none;
                    border: none;
                    margin-top: 1.6px;
                    border-radius: 5px;
                    margin-left: 1px;
                    resize: none;
                    padding: 30px;
                }
                
            }
            .round{
                width: 95px;
                height: 95px;
                border-radius: 100px;
                border-right: 1px solid $third_color;
                transform: rotate(40deg);
                position: relative;
                top: -30px;
                left: -30px;
                img{
                    width: 75px;
                    height: 75px;
                    margin-top: 10px;
                    border: 5px solid $minor;
                    border-radius: 100px;
                    transform: rotate(-40deg);
                }
            }
            .menu{
                position: relative;
                top: -85px;
                left: 60px;
                .name{
                    border-bottom: 1px solid $third_color;
                    width: 35vw;
                    text-align: left;
                    input{
                        margin-left: 10px;
                        border: none;
                        font-size: 14px;
                    }
                }
                .selection-details{
                    font-size: 14px;
                    margin-left: 10px;
                    margin-top: 20px;
                    display: flex;
                    .select-inner{
                        background: $secondary_color;
                        border: 1px solid $third_color;
                        width: 150px;
                        height: 31px;
                        margin-right: 10px;
                        select{
                            font-size: 12px;
                            cursor: pointer;
                            border: none;
                            background: $secondary_color;
                            position: relative;
                            top: 4px;
                            outline: none;
                        }
                    }
                }
            }
         
            .post-now{
                text-align: left;
                margin-bottom: 50px;
                input{cursor: pointer;}
            }
            button{
                background: $third_color;
                color: $secondary_color;
                width: 100px;
                height: 24px;
                border: none;
                outline: none;
                margin-top: 10px;
                margin-right: 40px;
                cursor: pointer;
            }
            button:hover{
                background: $primary_color;
                transition: 0.2s;
            }
        }
    }


    .user-post{
        margin-left: -25px;
        .head{
            display: flex;
            margin-top: 10px;
            position: relative;
            z-index: 1;
            .pict{
                img{
                    width: 75px;
                    height: 75px;
                    border: 5px solid $minor;
                    border-radius: 100px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
                }
            }
            .desc{
                margin-left: 10px;
                font-size: 18px;
                p{
                    font-size: 12px;
                }
                .detail{
                    display: flex;
                    margin-top: -5px;
                }
                .time, .by{
                    display: flex;
                    margin-right: 15px;
                    p{
                        margin-left: 5px;
                    }
                }
            }
            .more{
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                font-weight: 400;
                font-size: 25px;
                .more-expand{
                    @extend %expand;
                }
            }
        }
        .inner-wrap{
            width: 38vw;
            margin-left: 40px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
            background: $third_color;
            padding: 2px;
            border-radius: 5px;
            place-items: center;
            position: relative;
            top: -25px;
            .inner{
                background: white;
                border-radius: 4px;
                padding: 21px;
                font-size: 24px;
                p{
                    margin-left: 39px;
                    margin-right: 10px;
                    text-align: justify;
                    font-size: 14px;
                    line-height: 15px;
                }
                hr{
                    width: 154px;
                    margin-top: 5px;
                    margin-bottom: 11px;
                    height: 1px;
                    margin-left: 2px;
                    background: $third_color;
                }
                .icon{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .icon-inner{
                    display: flex;
                    color: $primary_color;
                    margin-left: 20px;
                    margin-right: 20px;
                    div{
                        display: flex;
                        margin-right: 5px;
                        margin-left: 5px;
                        .total{
                            font-size: 16px;
                            margin-top: 3px;
                            margin-left: 5px;
                            color: black;
                        }
                        .req-colabs{
                            border: none;
                            outline: none;
                            background-color: $third_color;
                            color: $secondary_color;
                            font-size: 14px;
                            width: 181px;
                            height: 24px;
                            cursor: pointer;
                        }
                        .req-colabs:hover{
                            background-color: $primary_color;
                            transition: 0.5s;
                        }
                    }
                }
                .active{
                    color: $third_color;
                }
            }
        }
    }
}
