$primary_color: #787CA9;
$secondary_color: white;
$third_color: #0D47A1;
$additional: #30D1FF;
$minor: #E0EAF8;
$grey: #C4C4C4;
section{
    width: 100%;
    margin-top: 100px;
    width: 41vw;
    margin-left: 30vw;


    .modal .modal-body{ //modal
        .to-fill{
            display: flex;
            margin-top: 10px;
        }
        .select-inner{
            background: $secondary_color;
            border: 1px solid $third_color;
            width: 150px;
            height: 31px;
    
            select{
                font-size: 12px;
                cursor: pointer;
                border: none;
                background: $secondary_color;
                position: relative;
                top: 4px;
                outline: none;
            }
        }
    }
    
    button{
        cursor: pointer;
    }
    .active{
        background: $third_color !important;
        color: $secondary_color !important;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0px;
    }
    .head{
        margin-left: 30px;
        h2{
            font-size: 24px;
            margin-right: 40px;
        }
        hr{
            width: 42.8vw;
            margin-top: 5px;
            margin-left: -35px;
            margin-bottom: 30px;
            height: 1px;
            background: $third_color;
        }
    }
    .info-wrap{
        background: $third_color;
        padding: 2px;
    }
    .info-detail{
        background-color: $secondary_color;
        margin-left: 0.5px;
        padding-bottom: 40px;
        padding-top: 40px;
        position: relative;
        .return{
            border: 1px solid $third_color;
            color: $third_color;
            background: none;
            outline: none;
            width: 140px;
            height: 22px;
            font-size: 12px;
            position: relative;
            margin: 5px;
            top: -20px;
            left: 40px;
            z-index: 1;
        }
        .return:hover{
            opacity: 0.5;
        }
        .post-image{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            img{
                width: 318px;
                height: 274px;
                object-fit: cover;
            }
            .active{
                color: $third_color;
            }
            button{
                font-size: 30px;
                margin-top: 10px;
                margin-right: -10px;
                margin-left: -10px;
                line-height: 0px;
                border: none;
                background: $secondary_color;
                color: $primary_color;
                outline: none;
            }
        }
        .description, .term{
            font-size: 14px;
            h5{
                font-size: 18px;
            }
        }
        .menu{
            display: flex;
            position: absolute;
            right: 15px;
            top: 30px;
        }

        #filter-expand{
            background-color: $secondary_color;
            width: 180px;
            position: absolute;
            right: 0;
            top: 25px;
            padding: 10px;
            border: 1px solid $third_color;
            text-align: left;
            font-size: 14px;
            ul{
                margin-left: -30px;
            }
            li{
                cursor: pointer;
                margin-top: 10px;
            }
        }
        .filter-info, .sort-info{
            button{
                background: none;
                border: none;
                outline: none;
                color: $third_color;
                font-size: 16px;
            }
            button:hover{
                color: $primary_color;
                transition: 0.2s;
            }
        }
        .party-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .party-available{
            border: 1px solid $third_color;
            width: 175px;
            height: 200px;
            padding: 12px;
            text-align: center;
            margin: 5px;
            .row{
                place-content: center;
            }
            img{
                width: 72px;
                height: 72px;
                border-radius: 100px;
                border: 0.5px solid $third_color;
            }
            h4{
                font-size: 16px;
            }
            .join{
                height: 18px;
                width: 100px;
                font-size: 10px;
                outline: none;
                border: 1px solid $third_color;
                background: none;
                margin: 2px;
            }
            .join:hover{
                opacity: 0.5;
                transition: 0.5s;
            }
            .active:hover{
                background-color: $primary_color;
            }
            .member{
                display: flex;
                flex-direction: column;
                place-items: center;
                font-size: 18px;
                .total{
                    font-size: 10px;
                }
            }
        }
    }
}