$primary_color: #787CA9;
$secondary_color: white;
$third_color: #0D47A1;
$additional: #30D1FF;
$minor: #E0EAF8;
$grey: #C4C4C4;


section{
    width: 100%;
    margin-top: 100px;
    width: 41vw;
    margin-left: 30vw;
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0px;
    }
    .info-wrap{
        margin-top: 50px;
        background: linear-gradient(90deg, $primary_color 0%, $additional 50%, #11171D 100%);
        padding: 2px;
    }
    .info-detail{
        background-color: $secondary_color;
        margin-left: 0.5px;
        padding: 50px;
        .header{
            display: flex;
            justify-content: space-between;
            bottom: 40px;
            border-bottom: 1px solid $third_color;
            h3{
                font-size: 18px;
            }
        }
        .post-image{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;
            img{
                width: 318px;
                height: 274px;
                object-fit: cover;
            }
            .active{
                color: $third_color;
            }
            button{
                font-size: 30px;
                margin-top: 10px;
                margin-right: -10px;
                margin-left: -10px;
                line-height: 0px;
                border: none;
                background: $secondary_color;
                color: $primary_color;
                outline: none;
            }
        }
        .description, .term{
            font-size: 14px;
            h5{
                font-size: 18px;
            }
        }
        .menu{
            display: flex;
            justify-content: flex-end;
        }
        .filter-info, .sort-info{
            button{
                background: none;
                border: none;
                outline: none;
                color: $third_color;
                font-size: 16px;
            }
            button:hover{
                color: $primary_color;
                transition: 0.2s;
            }
        }
        .party-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .party-available{
            border: 1px solid $third_color;
            width: 180px;
            height: 194px;
            padding: 12px;
            text-align: center;
            margin: 5px;
            img{
                width: 72px;
                height: 72px;
                border-radius: 100px;
                border: 0.5px solid $third_color;
            }
            h4{
                font-size: 14px;
            }
            .interact{
                place-items: center;
            }
            button{
                height: 14.51px;
                width: 73px;
                font-size: 9px;
                outline: none;
                border: 1px solid $third_color;
                background: none;
                border-radius: 100px;
            }
            button:hover{
                background-color: $minor;
                transition: 0.5s;
            }
            .active{
                background: $third_color;
                color: $secondary_color;
            }
            .active:hover{
                background-color: $primary_color;
            }
            .member{
                display: flex;
                flex-direction: column;
                place-items: center;
                font-size: 16px;
                .total{
                    font-size: 8px;
                }
            }
        }
    }
}