section {
  width: 100%;
  margin-top: 100px;
  width: 41vw;
  margin-left: 30vw; }
  section .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0px; }
  section .info-wrap {
    margin-top: 50px;
    background: linear-gradient(90deg, #787CA9 0%, #30D1FF 50%, #11171D 100%);
    padding: 2px; }
  section .info-detail {
    background-color: white;
    margin-left: 0.5px;
    padding: 50px; }
    section .info-detail .header {
      display: flex;
      justify-content: space-between;
      bottom: 40px;
      border-bottom: 1px solid #0D47A1; }
      section .info-detail .header h3 {
        font-size: 18px; }
    section .info-detail .post-image {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px; }
      section .info-detail .post-image img {
        width: 318px;
        height: 274px;
        object-fit: cover; }
      section .info-detail .post-image .active {
        color: #0D47A1; }
      section .info-detail .post-image button {
        font-size: 30px;
        margin-top: 10px;
        margin-right: -10px;
        margin-left: -10px;
        line-height: 0px;
        border: none;
        background: white;
        color: #787CA9;
        outline: none; }
    section .info-detail .description, section .info-detail .term {
      font-size: 14px; }
      section .info-detail .description h5, section .info-detail .term h5 {
        font-size: 18px; }
    section .info-detail .menu {
      display: flex;
      justify-content: flex-end; }
    section .info-detail .filter-info button, section .info-detail .sort-info button {
      background: none;
      border: none;
      outline: none;
      color: #0D47A1;
      font-size: 16px; }
    section .info-detail .filter-info button:hover, section .info-detail .sort-info button:hover {
      color: #787CA9;
      transition: 0.2s; }
    section .info-detail .party-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    section .info-detail .party-available {
      border: 1px solid #0D47A1;
      width: 180px;
      height: 194px;
      padding: 12px;
      text-align: center;
      margin: 5px; }
      section .info-detail .party-available img {
        width: 72px;
        height: 72px;
        border-radius: 100px;
        border: 0.5px solid #0D47A1; }
      section .info-detail .party-available h4 {
        font-size: 14px; }
      section .info-detail .party-available .interact {
        place-items: center; }
      section .info-detail .party-available button {
        height: 14.51px;
        width: 73px;
        font-size: 9px;
        outline: none;
        border: 1px solid #0D47A1;
        background: none;
        border-radius: 100px; }
      section .info-detail .party-available button:hover {
        background-color: #E0EAF8;
        transition: 0.5s; }
      section .info-detail .party-available .active {
        background: #0D47A1;
        color: white; }
      section .info-detail .party-available .active:hover {
        background-color: #787CA9; }
      section .info-detail .party-available .member {
        display: flex;
        flex-direction: column;
        place-items: center;
        font-size: 16px; }
        section .info-detail .party-available .member .total {
          font-size: 8px; }

/*# sourceMappingURL=notification.css.map */
