$primary_color: #787CA9;
$secondary_color: white;
$third_color: #1D2C64;
$additional: #30D1FF;
$minor: #E0EAF8;
$grey: #C4C4C4;

%posting-template{
    display: flex;
    justify-content: center;
    text-align: center;
    .input{
        width: 39.338731443994604vw;
        height: 102px;
        border: 2px solid $third_color;
        textarea{
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            resize: none;
            padding: 30px;
        }
    }
    .round{
        width: 95px;
        height: 95px;
        border-radius: 100px;
        border-right: 1px solid $third_color;
        transform: rotate(40deg);
        position: relative;
        top: -30px;
        left: -30px;
        img{
            width: 75px;
            height: 75px;
            margin-top: 10px;
            border: 2px solid $secondary_color;
            border-radius: 100px;
            transform: rotate(-40deg);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        }
    }
}

%userpost{
    margin-left: -25px;
    .head{
        display: flex;
        margin-top: 10px;
        position: relative;
        z-index: 1;
        .pict{
            img{
                width: 75px;
                height: 75px;
                border: 2px solid $secondary_color;
                border-radius: 100px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
            }
        }
        .desc{
            margin-left: 10px;
            font-size: 18px;
            h5{
                cursor: pointer;
            }
            p{
                font-size: 12px;
            }
            .time{
                margin-top: -5px;
                display: flex;
                p{
                    margin-left: 5px;
                }
            }
        }
        .more{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            font-weight: 400;
            font-size: 25px;
            .more-expand{
                background-color: $secondary_color;
                border: 1px solid $third_color;
                position: absolute;
                right: 6px;
                top: 30px;
                width: 200px;
                line-height: 20px;
                font-size: 12px;
                .iconify{
                    font-size: 16px;
                    position: relative;
                    left: -12px;
                    top: 3px;
                }
                ul{
                    margin-top: 15px;
                    li:hover{
                        opacity: 0.8;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .inner-wrap{
        width: 38vw;
        margin-left: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
        border: 2px solid $third_color;
        padding: 2px;
        place-items: center;
        position: relative;
        top: -25px;
        .inner{
            background: white;
            padding: 21px;
            font-size: 24px;
            p{
                margin-left: 39px;
                margin-right: 10px;
                text-align: justify;
                font-size: 14px;
                line-height: 15px;
            }
            hr{
                width: 154px;
                margin-top: 5px;
                margin-bottom: 11px;
                height: 1px;
                margin-left: 2px;
                background: $third_color;
                opacity: 0.5;
            }
            .icon{
                display: flex;
                color: $primary_color;
                .iconify{
                    cursor: pointer;
                }
                div{
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    .total{
                        font-size: 13px;
                        color: black;
                    }
                }
                div:hover{
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
            .active{
                color: red;
            }
            .active2{
                color: $third_color;
            }
        }
    }
}

section{
    width: 100%;
    margin-top: 100px;
    width: 41vw;
    margin-left: 30vw;
    .container{
        display: flex;
        flex-direction: column;
        .posting{
            @extend %posting-template;
            .menu{
                position: relative;
                top: -85px;
                left: 60px;
                border-bottom: 1px solid $third_color;
                width: 130px;
                font-size: 18px;
                .click{
                    cursor: pointer;
                }
                .click:hover{
                    opacity: 0.6;
                    transition: 0.3s;
                }
            }
            button{
                background: $third_color;
                color: $secondary_color;
                cursor: pointer;
                width: 100px;
                height: 24px;
                border: none;
                outline: none;
                position: relative;
                top: -110px;
                left: 230px;
            }
            button:hover{
                background: $primary_color;
                transition: 0.2s;
            }
        }
        .break{
            margin-top: -70px;
            text-align: right;
            color: $third_color;
            position: relative;
            z-index: 3;
            .iconify{
                cursor: pointer;
            }
            .iconify:hover{
                opacity: 0.6;
                transition: 0.2s;
            }
            hr{
                width: 42.8vw;
                margin-top: 5px;
                margin-left: -35px;
                opacity: 50%;
                height: 1px;
                background: $third_color;
            }
            #filter-expand{
                background-color: $secondary_color;
                width: 180px;
                height: 80px;
                position: absolute;
                right: 0;
                top: 25px;
                padding: 10px;
                border: 1px solid $third_color;
                text-align: left;
                font-size: 14px;
                ul{
                    margin-left: -30px;
                }
                li{
                    cursor: pointer;
                    margin-top: 5px;
                }
            }
        }
        .user-post{
            @extend %userpost;
        }
        .user-post-small{
            @extend %userpost;
            margin-left: 3px;
            .head{
                .pict{
                    margin-left: 12px;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                .desc{
                    margin-bottom: 10px;
                    p{
                        
                        font-size: 11px;
                    }
                    h5{
                        font-size: 16px;
                    }
                }
                .more{
                    font-size: 18px;
                    right: 30px;
                }
            }
            .inner-wrap{
                width: 30vw;

                .inner .icon{
                    div{
                        flex-direction: row;
                        margin-left: 10px;
                        .total{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .user-comment{
            @extend %posting-template;
            font-size: 12px;
            .round{
                border: 0;
                img{
                    width: 60px;
                    height: 60px;
                }
            }
            textarea{
                height: 30px;
                width: 30vw;
                border: 2px solid $third_color;
                resize: none;
                padding-left: 50px;
                padding-top: 3px;
                position: relative;
                left: 10px;
                top: 30px;
            }
            button{
                position: absolute;
                outline: none;
                background: none;
                border: none;
                bottom: 93px;
                right: 50px;
            }
        }
    }
    
}